body {
  color: #fbfeff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
  color: #786a81;
}
.weather-app {
  padding: 20px;
  border: 1px solid #0566b2;
  border-radius: 7px;
  background-color: #0566b2;
  color: #fbfeff;
}
.search-form {
  color: #218fb3;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.row {
  margin-top: 30px;
}
h1 {
  margin-top: -10px;
}
.temperature img {
  float: left;
}
.temperature var {
  font-style: normal;
  font-size: 35px;
  font-weight: 700;
  margin-top: 5px;
}
.units {
  color: #fbfeff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-style: normal;
}
.units:hover {
  text-decoration: none;
  color: #fbfeff;
}
.units .active {
  color: #fbfeff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-style: normal;
}
.units .active:hover {
  text-decoration: none;
  color: #d22837;
}
ul {
  padding: 5px;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.sky-condition {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: -5px;
}
.wet-weather img {
  float: left;
  width: 30px;
  opacity: 70%;
}
.wet-weather var {
  line-height: 22.5px;
  margin: 11px;
  float: left;
  position: relative;
  font-style: normal;
}
.wind-speed img {
  float: left;
  width: 30px;
}
.wind-speed div {
  line-height: 22.5px;
  margin: 2%;
  margin-left: 16px;
  float: left;
  position: relative;
  font-style: normal;
}
.wind-speed var {
  font-style: normal;
}
#metric-units-speed:hover {
  text-decoration: none;
  color: #d22837;
}
#imperial-units-speed {
  margin-left: -33px;
}
#imperial-units-speed:hover {
  text-decoration: none;
  color: #d22837;
}
.dateTime {
  border: 1px solid #d22837;
  border-radius: 10px;
  background-color: #d22837;
  color: #fbfeff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  display: block;
}

.footer {
  margin: 12px auto;
  font-size: 10px;
}
.weather-forecast {
  background-color: #d22837;
}
